.input-container {
    display: flex;
    align-items: center;
    background-color: #99DBF5;
    width: fit-content;
    gap: 7px;
    padding: 7px;
    margin: 8px;
    border-radius: 50px;
}

.input {
    border: none;
    background-color: transparent;
}
